page-overview-chartperiod {
    .ion-ios-update,
    .ion-ios-update-outline,
    .ion-md-update {
        content: url(../../assets/imgs/black/update.svg);
        width: 22px;
        height: 22px;
    }
}