page-chart {
    .ion-ios-refresh,
    .ion-ios-refresh-outline,
    .ion-md-refresh {
        content: url(../../assets/imgs/black/refresh.svg);
        width: 22px;
        height: 22px;
    }

    .ion-card-title {
        text-align: center;
        font-weight: bold;
    }
}