page-settings {
    .ion-ios-token,
    .ion-ios-token-outline,
    .ion-md-token {
        content: url(../../assets/imgs/black/token.svg);
        width: 24px;
        height: 24px;
    }

    .ion-ios-device,
    .ion-ios-device-outline,
    .ion-md-device {
        content: url(../../assets/imgs/black/device.svg);
        width: 24px;
        height: 24px;
    }

    .ion-ios-log,
    .ion-ios-log-outline,
    .ion-md-log {
        content: url(../../assets/imgs/black/log.svg);
        width: 24px;
        height: 24px;
    }

    .ion-ios-overview,
    .ion-ios-overview-outline,
    .ion-md-overview {
        content: url(../../assets/imgs/black/overview.svg);
        width: 24px;
        height: 24px;
    }

    .ion-ios-log-out,
    .ion-ios-log-out-outline,
    .ion-md-log-out {
        content: url(../../assets/imgs/black/log-out.svg);
        width: 24px;
        height: 24px;
    }

    .ion-ios-cryptocurrency,
    .ion-ios-cryptocurrency-outline,
    .ion-md-cryptocurrency {
        content: url(../../assets/imgs/black/cryptocurrency.svg);
        width: 24px;
        height: 24px;
    }

    .ion-ios-currency,
    .ion-ios-currency-outline,
    .ion-md-currency {
        content: url(../../assets/imgs/black/currency.svg);
        width: 24px;
        height: 24px;
    }

    .ion-ios-theme,
    .ion-ios-theme-outline,
    .ion-md-theme {
        content: url(../../assets/imgs/black/parameter.svg);
        width: 24px;
        height: 24px;
    }

    .ion-ios-parameter,
    .ion-ios-parameter-outline,
    .ion-md-parameter {
        content: url(../../assets/imgs/black/parameter.svg);
        width: 24px;
        height: 24px;
    }

    .ion-ios-chart,
    .ion-ios-chart-outline,
    .ion-md-chart {
        content: url(../../assets/imgs/black/chart.svg);
        width: 24px;
        height: 24px;
    }
}