page-all-alerttypes {
    .ion-ios-parameter,
    .ion-ios-parameter-outline,
    .ion-md-parameter {
        content: url(../../assets/imgs/black/parameter.svg);
        width: 36px;
        height: 36px;
    }

    .ion-ios-insert,
    .ion-ios-insert-outline,
    .ion-md-insert {
        content: url(../../assets/imgs/black/insert.svg);
        width: 22px;
        height: 22px;
    }

    .ion-ios-refresh,
    .ion-ios-refresh-outline,
    .ion-md-refresh {
        content: url(../../assets/imgs/black/refresh.svg);
        width: 22px;
        height: 22px;
    }

    .ion-ios-delete,
    .ion-ios-delete-outline,
    .ion-md-delete {
        content: url(../../assets/imgs/white/delete.svg);
        width: 22px;
        height: 22px;
    }
}