<ion-header>
  <ion-navbar>
    <ion-title>Update theme</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="themeFormGroup" (ngSubmit)="onSubmit(themeFormGroup.value)">
    <ion-item>
      <ion-label floating>Name</ion-label>
      <ion-input formControlName="name" type="text" [(ngModel)]="themeForm.name"></ion-input>
    </ion-item>

    <ion-item *ngIf="themeFormGroup.controls.name.hasError('required') && themeFormGroup.controls.name.touched">
      <p>The field is required</p>
    </ion-item>

    <ion-item *ngIf="themeFormGroup.controls.name.hasError('maxlength') && themeFormGroup.controls.name.touched">
      <p>The maximum length is 250</p>
    </ion-item>

    <button ion-button block [disabled]="!themeFormGroup.valid" type="submit" icon-left>
      <ion-icon name="submit"></ion-icon> Submit
    </button>
  </form>
</ion-content>