<ion-header>
  <ion-navbar>
    <ion-title>Insert alert</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="alertFormGroup" (ngSubmit)="onSubmit(alertFormGroup.value)">
    <ion-item>
      <ion-label floating>Name</ion-label>
      <ion-input formControlName="name" type="text" [(ngModel)]="alertForm.name" readonly="true"></ion-input>
    </ion-item>

    <ion-item *ngIf="alertFormGroup.controls.name.hasError('required') && alertFormGroup.controls.name.touched">
      <p>The field is required</p>
    </ion-item>

    <ion-item *ngIf="alertFormGroup.controls.name.hasError('maxlength') && alertFormGroup.controls.name.touched">
      <p>The maximum length is 250</p>
    </ion-item>

    <ion-item>
      <ion-label floating>Cryptocurrency</ion-label>
      <ion-select formControlName="cryptocurrencyId" [(ngModel)]="alertForm.cryptocurrencyId" (ngModelChange)="updateName()">
        <ion-option *ngFor="let favorite of allFavorites" value="{{ favorite.id }}">{{ favorite.name }}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label floating>Type</ion-label>
      <ion-select formControlName="typeId" [(ngModel)]="alertForm.typeId" (ngModelChange)="updateName()">
        <ion-option *ngFor="let type of allTypes" value="{{ type.id }}">{{ type.name }}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label floating>Threshold</ion-label>
      <ion-input formControlName="threshold" type="number" [(ngModel)]="alertForm.threshold" (ngModelChange)="updateName()"></ion-input>
    </ion-item>

    <ion-item *ngIf="alertFormGroup.controls.threshold.hasError('required') && alertFormGroup.controls.threshold.touched">
      <p>The field is required</p>
    </ion-item>

    <ion-item>
      <ion-label>One shot</ion-label>
      <ion-toggle formControlName="oneShot" checked="false" [(ngModel)]="alertForm.oneShot"></ion-toggle>
    </ion-item>

    <ion-item>
        <ion-label>Active</ion-label>
        <ion-toggle formControlName="active" checked="false" [(ngModel)]="alertForm.active"></ion-toggle>
    </ion-item>

    <button ion-button block [disabled]="!alertFormGroup.valid" type="submit" icon-left>
      <ion-icon name="submit"></ion-icon> Submit
    </button>
  </form>
</ion-content>