page-update-wallet {
    .ion-ios-submit,
    .ion-ios-submit-outline,
    .ion-md-submit {
        content: url(../../assets/imgs/white/submit.svg);
        width: 22px;
        height: 22px;
    }

    .button-block {
        margin-top: 20px;
    }
}