page-all-favorites {
    .ion-ios-refresh,
    .ion-ios-refresh-outline,
    .ion-md-refresh {
        content: url(../../assets/imgs/black/refresh.svg);
        width: 22px;
        height: 22px;
    }

    .ion-ios-delete,
    .ion-ios-delete-outline,
    .ion-md-delete {
        content: url(../../assets/imgs/white/delete.svg);
        width: 22px;
        height: 22px;
    }
}